.documentation {
  line-height: 1.75;
}

.documentation blockquote {
  border-left: 3px solid var(--card-border-color, #ccc);
  color: var(--card-muted-fg-color, #666);
  margin-block-start: 0;
  margin-inline-start: 0;
  padding-inline-start: 1rem;
  padding-block: 0.2rem;
  background-color: var(--card-muted-bg-color);
}

.documentation img {
  max-width: 100%;
}

.documentation ul,
.documentation ol {
  padding-inline-start: 1.2rem;
}

.documentation ul > * + *,
.documentation ol > * + * {
  margin-block-start: 0.5rem;
}

.documentation strong {
  font-weight: 600;
}

.documentation table {
  border-collapse: collapse;
}

.documentation th {
  text-align: start;
}

.documentation th,
.documentation td {
  border: 1px solid var(--card-muted-fg-color, #666);
  padding: 0.2rem 0.6rem;
}
/* 
.documentation blockquote > p:first-child:has(> strong:first-child) {
  margin-block-end: 0;
}

.documentation blockquote > p:first-child:has(> strong:first-child) + p {
  margin-block-start: 0;
} */
